<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="CityInputSource" value="C:\Users\DELL\Documents\citydetails.txt" />
      <add key="CityOutputDest" value="C:\Users\DELL\Documents\WeatherApp\WeatherApp\WeatherApp\App_Data" />
      <add key="APIKey" value="aa69195559bd4f88d79f9aadeb77a8f6" />

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
